flask==3.0.3
flask-socketio==5.3.6
python-socketio==5.11.3
python-engineio==4.9.1
gevent==24.2.1
gevent-websocket==0.10.1
mss==9.0.2
Pillow==10.4.0
pynput==1.7.7
pyautogui==0.9.54
opencv-python==4.10.0.84
numpy==1.26.4
pyngrok==7.2.0
psutil==6.0.0
requests>=2.31.0
pyperclip>=1.8.2
sounddevice>=0.4.6
